*.dia
run-*
.DS_Store
dflowfm/CacheSloughComplex_v111-edit19fix-bathy.nc
*~

Thumbs.db
Thumbs.db:encryptable
/bcs/dcd/dcd_sep2016.dsc
/bcs/dcd/dcd_sep2016.dss
/bcs/dcd/dsm2setup_8.2.0b1.exe
.Rproj.user
