grid-edges-v*.* 
CacheSloughComplex_v*-edit*.nc
CacheSloughComplex_v100.grd
CacheSloughComplex_v107-lindsey.nc
CacheSloughComplex_v107-non_lindsey.nc
CacheSloughComplex_v97.grd
CacheSloughComplex_v98.grd
CacheSloughComplex_v108-*lindsey.nc
